
body {
    background-color: rgb(241, 241, 241);
}

.card {
    background-color: rgb(255, 255, 255)!important;
}

.search-button {
    margin-right: 5px;
}

.card.summary-post {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0 !important;
}

.card.postheader {
    margin: 0px;
    border-radius: 0 !important;
    border: 0px;
}

.card.post-footer {
    font-size: xx-small;
}

.card.comment {
    margin: 5px;
}

div.card-body {
    padding: 10px;
}

.comment-header { 
    color: inherit;
    text-decoration: none;
}   

p {
    margin-bottom: 0;
}

.alert {
    margin: 5px;
}

.progress {
    margin: 5px;
}

.navbar {
    background-color: rgba(246, 246, 246, 0.924);
}

a.navbar-brand {
    padding-left: 5px;
}

.navbar-col {
    padding-left: 5px;
    padding-right: 5px;
}

.card-footer {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 0px;
}

.link-card {
    margin: 5px;
    margin-bottom: 0rem!important;
}

.card-header {
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.comment-header {
    padding: 0px;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}


div.container {
    background-color: rgba(246, 246, 246, 0.924);
}

.navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
}

form.search {
    padding: 5px;
}

button.navbar-toggler {
    margin-right: 5px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a.subreddit-link {
    color: inherit;
    text-decoration: none;
}