<!DOCTYPE html>
<html lang="en">
    <head>
      {% include '/components/header.html' %}
    </head>
    
    <body>

        <!-- NAV BAR -->
        {% include '/components/nav_bar.html' %}

        <!--POST (NEW)-->
        <div class="row">
          <div class="col-sm-12">
            {% include '/components/post/post.html' %}
          </div>
        </div>
        
        <!--COMMENTS-->
        <div class="accordion" id="accordionExample">
          {% for comment in comments: %}
          <div class="card comment">
            <div class="card-header" id="heading{{ comment['id'] }}">
              <h5 class="mb-0">
                <button class="btn btn-link comment-header" type="button" data-toggle="collapse" data-target="#collapse{{ comment['id'] }}" aria-expanded="true" aria-controls="collapse{{ comment['id'] }}">
                  <p><b>{{ comment['author'] }}</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                  </svg>{{ comment['score'] }}</p>
                </button>
              </h5>
            </div>
        
            <div id="collapse{{ comment['id'] }}" class="collapse show" aria-labelledby="heading{{ comment['id'] }}" data-parent="#accordionExample">
              <div class="card-body">
                <p style="padding: 10px;">{{ comment['text'] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--END OF COMMENTS-->
    </body>
</html>