<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-sm-6">
    <a class="navbar-brand" href="/">Ares</a>
    </div>
    <div class="col-sm-6">
    <div class="input-group">
        <input id="subredditSearch" class="form-control me-2" type="search" placeholder="subreddit" aria-label="Search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <span class="input-group-btn">
        <button onclick="goToSubreddit()" class="btn btn-dark search-button">GO</button>
        </span>          
    </div>
    </div>
</nav> -->